# python env
/venv

# env variables
.env

#data files - will add these once they are all ready
/input_files
2020-2024_charts.csv
2025_charts.csv
2015-2019_charts.csv
2011-2014_charts.csv
tracks_features.csv

#pychache
/__pychache__

#cache
.cache

#DS Store
.DS_Store

#docker db re-alignment
match_tracks_with_docker.py